* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #b67257;
    color: #fafaf9;
    padding: 48px 64px;
  }
  
  #root {
    max-width: 1500px;
    margin: 0 auto;
  }
  
  .header {
    margin-bottom: 40px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }
  
  .fact-form {
    background-color: #32150e;
    margin-bottom: 40px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
  }
  
  .main {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 48px;
  }
  
  @media (max-width: 900px) {
    .main {
      grid-template-columns: 1fr;
    }
  }
  /*ELEMENTS HERE*/
  .logo {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .logo img {
    width: 68px;
    height: 68px;
  }
  
  h1 {
    font-size: 42px;
    font-family: "Sono", sans-serif;
    color: #fffafa;
    line-height: 1;
    margin-top: 6px;
  }
  
  .category {
    margin-bottom: 16px;
  }
  
  .fact {
    font-size: 20px;
    line-height: 1.4;
    font-family: "Victor Mono";
    color: #fffafa;
    background-color: #32150e;
    margin-bottom: 16px;
    letter-spacing: -1px;
    padding: 16px 24px;
    display: flex;
    border: 4px solid black;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
  }
  
  @media (max-width: 1200px) {
    .fact {
      flex-direction: column;
      align-items: flex-end;
      gap: 12px;
    }
  }
  
  .tag {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Sono", sans-serif;
    padding-top: 3px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    border-radius: 100px;
  }
  
  .vote-bottons {
    flex-shrink: 0;
    margin-left: auto;
    display: flex; /*side by side*/
    gap: 8px;
  }
  
  .vote-bottons button {
    border: none;
    background-color: #7f311e;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 100px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    color: white;
  }
  
  .vote-bottons button:hover {
    background-color: #4b2015;
  }
  
  ul {
    list-style: none;
  }
  
  .source:link,
  .source:visited {
    color: red;
    text-decoration: none;
    margin-left: 12px;
    transition: 0.3s;
  }
  
  .source:hover,
  .source:active {
    color: blue;
  }
  
  .btn {
    border: none;
    font-family: "Sono", sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: 17px;
    padding: 16px 0 13px;
    background-image: linear-gradient(
      135deg,
      rgb(59, 247, 59),
      rgb(255, 182, 45),
      rgb(249, 230, 31),
      rgb(111, 243, 255),
      rgb(241, 31, 31),
      rgb(81, 40, 40),
      rgb(174, 173, 173)
    );
    color: black;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100px;
  }
  
  .btn:hover {
    transform: scale(110%) rotate(2deg);
  }
  
  .btn-large {
    font-size: 16px;
    padding: 16px 30px 15px;
  }
  
  .btn-all-categories {
    margin-bottom: 16px;
    width: 100%;
  }
  
  .btn-category {
    width: 100%;
    background-image: none;
  }
  
  .fact-form input,
  .fact-form select {
    width: 220px;
    background-color: #7f311e;
    border: none;
    border-radius: 100px;
    padding: 16px;
    font-size: 18px;
    color: white;
  }
  
  .fact-form input::placeholder {
    font-size: 16px;
  }
  
  .hidden {
    display: none;
  }

 .message {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    margin-top: 24px;
  }
  
  .fact-form input:first-child {
    flex-grow: 1;
  }
  
  .fact-form span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 18px;
  }
  
  @media (max-width: 1000px) {
    body {
      padding: 32px 48px;
    }
  
    .fact-form {
      flex-direction: column;
      align-items: stretch;
    }
  
    .fact-form input,
    .fact-form select {
      width: auto;
    }
  }
  